temp/
bin/*.ilk
bin/*.pdb
bin/*.lib
bin/*.exp
bin/*.exe
*.suo
*.sdf
*.opensdf
*.user
*.vsix
crash-*
/.vs
/tests/fuzzer
node_modules
/vscode/nullc_lang_client/out
/vscode/nullc_lang_server/out
package-lock.json
legacy/
euler/
/vscode/nullc_language_client_vs/bin
/vscode/nullc_language_client_vs/obj
/vscode/nullc_lang_client/.vscode/ipch
/out
