sudo: false
language: cpp
compiler:
  - clang
  - gcc
env:
  - CONFIG=debug EXTCALL=manual
  - CONFIG=release EXTCALL=manual
  - CONFIG=debug EXTCALL=dyncall
  - CONFIG=release EXTCALL=dyncall
  - CONFIG=coverage EXTCALL=manual
script: make test config=$CONFIG extcall=$EXTCALL
after_success:
  if [ "$CONFIG" == "coverage" ]; then
    bash <(curl -s https://codecov.io/bash)
  else
    echo "No coverage data in this configuration"
  fi
